{
  "openapi": "3.0.1",
  "info": {
    "title": "Bills API",
    "description": "API to get and search for information regarding Bills, their stages, associated amendments and publications.",
    "contact": {
      "name": "UK Parliament",
      "url": "https://www.parliament.uk",
      "email": "softwareengineering@parliament.uk"
    },
    "version": "v1"
  },
  "servers": [{
    "url": "https://bills-api.parliament.uk/"
  }],
  "paths": {
    "/api/v1/Bills/{billId}/Stages/{billStageId}/Amendments": {
      "get": {
        "tags": [
          "Amendments"
        ],
        "summary": "Returns a list of amendments.",
        "operationId": "GetAmendments",
        "parameters": [{
            "name": "billId",
            "in": "path",
            "description": "Amendments relating to a Bill with Bill ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "billStageId",
            "in": "path",
            "description": "Amendments relating to a Bill stage with Bill stage ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SearchTerm",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Decision",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/AmendmentDecisionSearch"
            }
          },
          {
            "name": "MemberId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentSearchItemSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentSearchItemSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentSearchItemSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages/{billStageId}/Amendments/{amendmentId}": {
      "get": {
        "tags": [
          "Amendments"
        ],
        "summary": "Returns an amendment.",
        "operationId": "GetAmendment",
        "parameters": [{
            "name": "billId",
            "in": "path",
            "description": "Amendment relating to a bill with bill ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "billStageId",
            "in": "path",
            "description": "Amendment relating to a bill stage with bill stage ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "amendmentId",
            "in": "path",
            "description": "Amendment with amendment ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/NewsArticles": {
      "get": {
        "tags": [
          "Bill News"
        ],
        "summary": "Returns a list of news articles for a Bill.",
        "operationId": "GetNewsArticles",
        "parameters": [{
            "name": "billId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NewsArticlesSummarySearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsArticlesSummarySearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsArticlesSummarySearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/BillTypes": {
      "get": {
        "tags": [
          "Bill Types"
        ],
        "summary": "Returns a list of Bill types.",
        "parameters": [{
            "name": "Category",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/BillTypeCategory"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillTypeSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillTypeSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillTypeSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Returns a list of Bills.",
        "operationId": "GetBills",
        "parameters": [{
            "name": "SearchTerm",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Session",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentHouse",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/House"
            }
          },
          {
            "name": "OriginatingHouse",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/OriginatingHouse"
            }
          },
          {
            "name": "MemberId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "DepartmentId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "BillStage",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "BillStagesExcluded",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "IsDefeated",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsWithdrawn",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "BillType",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "SortOrder",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/BillSortOrder"
            }
          },
          {
            "name": "BillIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "IsInAmendableStage",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillSummarySearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillSummarySearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillSummarySearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Return a Bill.",
        "operationId": "GetBill",
        "parameters": [{
          "name": "billId",
          "in": "path",
          "description": "Bill with ID specified",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages/{billStageId}": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Returns a Bill stage.",
        "operationId": "GetBillStageDetails",
        "parameters": [{
            "name": "billId",
            "in": "path",
            "description": "Bill stage relating to Bill with Bill ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "billStageId",
            "in": "path",
            "description": "Bill stage with ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Returns all Bill stages.",
        "parameters": [{
            "name": "billId",
            "in": "path",
            "description": "Stages relating to a Bill with Bill ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StageSummarySearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageSummarySearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageSummarySearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Publications/{publicationId}/Documents/{documentId}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Return information on a document.",
        "parameters": [{
            "name": "publicationId",
            "in": "path",
            "description": "Document with publication Id specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "Document with Id specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDocument"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDocument"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Publications/{publicationId}/Documents/{documentId}/Download": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Return a document.",
        "parameters": [{
            "name": "publicationId",
            "in": "path",
            "description": "Document with publication Id specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "Document with Id specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages/{billStageId}/PingPongItems": {
      "get": {
        "tags": [
          "Ping Pong Items"
        ],
        "summary": "Returns a list of motions or amendments.",
        "operationId": "SearchPingPongItems",
        "parameters": [{
            "name": "billId",
            "in": "path",
            "description": "Motions or amendments relating to a Bill with Bill ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "billStageId",
            "in": "path",
            "description": "Motions or amendments relating to a Bill stage with Bill stage ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SearchTerm",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Decision",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/AmendmentDecisionSearch"
            }
          },
          {
            "name": "MemberId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentSummaryMotionSummaryPingPongItemSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentSummaryMotionSummaryPingPongItemSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentSummaryMotionSummaryPingPongItemSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages/{billStageId}/PingPongItems/{pingPongItemId}": {
      "get": {
        "tags": [
          "Ping Pong Items"
        ],
        "summary": "Returns amendment or motion detail.",
        "operationId": "GetPingPongItem",
        "parameters": [{
            "name": "billId",
            "in": "path",
            "description": "Motions or amendments relating to a bill with bill ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "billStageId",
            "in": "path",
            "description": "Motions or amendments relating to a bill stage with bill stage ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pingPongItemId",
            "in": "path",
            "description": "Motions or amendments with ping pong item ID specified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentDetailMotionDetailPingPongItem"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentDetailMotionDetailPingPongItem"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentDetailMotionDetailPingPongItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/PublicationTypes": {
      "get": {
        "tags": [
          "Publication Types"
        ],
        "summary": "Returns a list of publication types.",
        "parameters": [{
            "name": "Skip",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationTypeSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationTypeSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationTypeSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Publications": {
      "get": {
        "tags": [
          "Publications"
        ],
        "summary": "Return a list of Bill publications.",
        "operationId": "GetBillPublication",
        "parameters": [{
          "name": "billId",
          "in": "path",
          "description": "Publications relating to Bill with Bill ID specified",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillPublicationList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPublicationList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPublicationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages/{stageId}/Publications": {
      "get": {
        "tags": [
          "Publications"
        ],
        "summary": "Return a list of Bill stage publications.",
        "parameters": [{
            "name": "billId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "stageId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillStagePublicationList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStagePublicationList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStagePublicationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Rss/allbills.rss": {
      "get": {
        "tags": [
          "RSS"
        ],
        "summary": "Returns an Rss feed of all Bills.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/Rss/publicbills.rss": {
      "get": {
        "tags": [
          "RSS"
        ],
        "summary": "Returns an Rss feed of public Bills.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/Rss/privatebills.rss": {
      "get": {
        "tags": [
          "RSS"
        ],
        "summary": "Returns an Rss feed of private Bills.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/Rss/Bills/{id}.rss": {
      "get": {
        "tags": [
          "RSS"
        ],
        "summary": "Returns an Rss feed of a certain Bill.",
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Id of Bill",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          }
        }],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Sittings": {
      "get": {
        "tags": [
          "Sittings"
        ],
        "summary": "Returns a list of Sittings.",
        "operationId": "GetSittings",
        "parameters": [{
            "name": "House",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/House"
            }
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageSittingSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageSittingSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageSittingSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Stages": {
      "get": {
        "tags": [
          "Stages"
        ],
        "summary": "Returns a list of Bill stages.",
        "parameters": [{
            "name": "Skip",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StageReferenceSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageReferenceSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageReferenceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AmendmentDecision": {
        "type": "string",
        "enum": [
          "NoDecision",
          "Withdrawn",
          "Disagreed",
          "NotMoved",
          "Agreed",
          "QuestionProposed",
          "NotSelected",
          "WithdrawnBeforeDebate",
          "StoodPart",
          "NotStoodPart",
          "Preempted",
          "NotCalled",
          "NegativedOnDivision",
          "AgreedOnDivision"
        ]
      },
      "AmendmentDecisionSearch": {
        "type": "string",
        "enum": [
          "All",
          "NoDecision",
          "Withdrawn",
          "Disagreed",
          "NotMoved",
          "Agreed",
          "QuestionProposed",
          "NotSelected",
          "WithdrawnBeforeDebate",
          "StoodPart",
          "NotStoodPart",
          "Preempted",
          "NotCalled",
          "NegativedOnDivision",
          "AgreedOnDivision"
        ]
      },
      "AmendmentDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "statusIndicator": {
            "type": "string",
            "nullable": true
          },
          "decision": {
            "$ref": "#/components/schemas/AmendmentDecision"
          },
          "decisionExplanation": {
            "type": "string",
            "nullable": true
          },
          "sponsors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentMember"
            }
          },
          "amendmentId": {
            "type": "integer",
            "format": "int32"
          },
          "amendmentType": {
            "$ref": "#/components/schemas/AmendmentType"
          },
          "clause": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "schedule": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lineNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "amendmentPosition": {
            "type": "string",
            "nullable": true
          },
          "marshalledListText": {
            "type": "string",
            "nullable": true
          },
          "amendmentLines": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentLine"
            }
          },
          "explanatoryTextPrefix": {
            "type": "string",
            "nullable": true
          },
          "explanatoryText": {
            "type": "string",
            "nullable": true
          },
          "amendmentNote": {
            "type": "string",
            "nullable": true
          },
          "amendmentLocation": {
            "type": "string",
            "nullable": true
          },
          "mainHeader": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AmendmentDetailMotionDetailPingPongItem": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/PingpongItemType"
          },
          "amendment": {
            "$ref": "#/components/schemas/PingPongAmendmentDetail"
          },
          "motion": {
            "$ref": "#/components/schemas/MotionDetail"
          }
        },
        "additionalProperties": false
      },
      "AmendmentGroup": {
        "type": "object",
        "properties": {
          "text": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentLine"
            }
          },
          "amendments": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PingPongAmendment"
            }
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "AmendmentLine": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "nullable": true
          },
          "indentation": {
            "type": "integer",
            "format": "int32"
          },
          "hangingIndentation": {
            "type": "string",
            "nullable": true
          },
          "isImage": {
            "type": "boolean"
          },
          "imageType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AmendmentMember": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "party": {
            "type": "string",
            "nullable": true
          },
          "partyColour": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          },
          "memberPhoto": {
            "type": "string",
            "nullable": true
          },
          "memberPage": {
            "type": "string",
            "nullable": true
          },
          "memberFrom": {
            "type": "string",
            "nullable": true
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          },
          "isLead": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "AmendmentSearchItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "statusIndicator": {
            "type": "string",
            "nullable": true
          },
          "decision": {
            "$ref": "#/components/schemas/AmendmentDecision"
          },
          "decisionExplanation": {
            "type": "string",
            "nullable": true
          },
          "sponsors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentMember"
            }
          },
          "amendmentId": {
            "type": "integer",
            "format": "int32"
          },
          "amendmentType": {
            "$ref": "#/components/schemas/AmendmentType"
          },
          "clause": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "schedule": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lineNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "amendmentPosition": {
            "type": "string",
            "nullable": true
          },
          "marshalledListText": {
            "type": "string",
            "nullable": true
          },
          "summaryText": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "AmendmentSearchItemSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentSearchItem"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "AmendmentSummaryMotionSummaryPingPongItem": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/PingpongItemType"
          },
          "amendment": {
            "$ref": "#/components/schemas/PingPongAmendmentSummary"
          },
          "motion": {
            "$ref": "#/components/schemas/MotionSummary"
          }
        },
        "additionalProperties": false
      },
      "AmendmentSummaryMotionSummaryPingPongItemSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentSummaryMotionSummaryPingPongItem"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "AmendmentType": {
        "type": "string",
        "enum": [
          "EditLongTitle",
          "EditBillBody",
          "AddClauseOrSchedule",
          "DeleteClauseOrSchedule"
        ]
      },
      "Bill": {
        "type": "object",
        "properties": {
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "shortTitle": {
            "type": "string",
            "nullable": true
          },
          "formerShortTitle": {
            "type": "string",
            "nullable": true
          },
          "currentHouse": {
            "$ref": "#/components/schemas/House"
          },
          "originatingHouse": {
            "$ref": "#/components/schemas/House"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "billWithdrawn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isDefeated": {
            "type": "boolean"
          },
          "billTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "introducedSessionId": {
            "type": "integer",
            "format": "int32"
          },
          "includedSessionIds": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "isAct": {
            "type": "boolean"
          },
          "currentStage": {
            "$ref": "#/components/schemas/StageSummary"
          },
          "longTitle": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "sponsors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Sponsor"
            }
          },
          "promoters": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Promoter"
            }
          },
          "petitioningPeriod": {
            "type": "string",
            "nullable": true
          },
          "petitionInformation": {
            "type": "string",
            "nullable": true
          },
          "agent": {
            "$ref": "#/components/schemas/BillAgent"
          }
        },
        "additionalProperties": false
      },
      "BillAgent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "phoneNo": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BillPublication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "publicationType": {
            "$ref": "#/components/schemas/PublicationType"
          },
          "displayDate": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PublicationLink"
            }
          },
          "files": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PublicationDocument"
            }
          },
          "house": {
            "$ref": "#/components/schemas/House"
          }
        },
        "additionalProperties": false
      },
      "BillPublicationList": {
        "type": "object",
        "properties": {
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "publications": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/BillPublication"
            }
          }
        },
        "additionalProperties": false
      },
      "BillSortOrder": {
        "type": "string",
        "enum": [
          "TitleAscending",
          "TitleDescending",
          "DateUpdatedAscending",
          "DateUpdatedDescending"
        ]
      },
      "BillStageDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "stageId": {
            "type": "integer",
            "format": "int32"
          },
          "sessionId": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "abbreviation": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          },
          "stageSittings": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/BillStageSitting"
            }
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          },
          "committee": {
            "$ref": "#/components/schemas/Committee"
          },
          "nextStageBillStageId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "previousStageBillStageId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "hasMotions": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "BillStagePublicationList": {
        "type": "object",
        "properties": {
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "publications": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Publication"
            }
          },
          "sittings": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/BillStageSittingPublicationList"
            }
          }
        },
        "additionalProperties": false
      },
      "BillStageSitting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "stageId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BillStageSittingPublicationList": {
        "type": "object",
        "properties": {
          "sittingId": {
            "type": "integer",
            "format": "int32"
          },
          "publications": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Publication"
            }
          }
        },
        "additionalProperties": false
      },
      "BillStageSittingSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/BillStageSitting"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "BillSummary": {
        "type": "object",
        "properties": {
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "shortTitle": {
            "type": "string",
            "nullable": true
          },
          "formerShortTitle": {
            "type": "string",
            "nullable": true
          },
          "currentHouse": {
            "$ref": "#/components/schemas/House"
          },
          "originatingHouse": {
            "$ref": "#/components/schemas/House"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "billWithdrawn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isDefeated": {
            "type": "boolean"
          },
          "billTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "introducedSessionId": {
            "type": "integer",
            "format": "int32"
          },
          "includedSessionIds": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "isAct": {
            "type": "boolean"
          },
          "currentStage": {
            "$ref": "#/components/schemas/StageSummary"
          }
        },
        "additionalProperties": false
      },
      "BillSummarySearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/BillSummary"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "BillType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "category": {
            "$ref": "#/components/schemas/BillTypeCategory"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BillTypeCategory": {
        "type": "string",
        "enum": [
          "Public",
          "Private",
          "Hybrid"
        ]
      },
      "BillTypeSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/BillType"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Committee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/CommitteeHouse"
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommitteeHouse": {
        "type": "string",
        "enum": [
          "Commons",
          "Lords",
          "Joint"
        ]
      },
      "House": {
        "type": "string",
        "enum": [
          "All",
          "Commons",
          "Lords",
          "Unassigned"
        ]
      },
      "Member": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "party": {
            "type": "string",
            "nullable": true
          },
          "partyColour": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          },
          "memberPhoto": {
            "type": "string",
            "nullable": true
          },
          "memberPage": {
            "type": "string",
            "nullable": true
          },
          "memberFrom": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MotionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "statusIndicator": {
            "type": "string",
            "nullable": true
          },
          "decision": {
            "$ref": "#/components/schemas/AmendmentDecision"
          },
          "decisionExplanation": {
            "type": "string",
            "nullable": true
          },
          "sponsors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentMember"
            }
          },
          "type": {
            "$ref": "#/components/schemas/PingpongItemType"
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "motionGroups": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/MotionGroup"
            }
          }
        },
        "additionalProperties": false
      },
      "MotionGroup": {
        "type": "object",
        "properties": {
          "text": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentLine"
            }
          },
          "amendments": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PingPongAmendment"
            }
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "MotionSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "statusIndicator": {
            "type": "string",
            "nullable": true
          },
          "decision": {
            "$ref": "#/components/schemas/AmendmentDecision"
          },
          "decisionExplanation": {
            "type": "string",
            "nullable": true
          },
          "sponsors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentMember"
            }
          },
          "type": {
            "$ref": "#/components/schemas/PingpongItemType"
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NewsArticlesSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string",
            "nullable": true
          },
          "displayDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NewsArticlesSummarySearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/NewsArticlesSummary"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OriginatingHouse": {
        "type": "string",
        "enum": [
          "All",
          "Commons",
          "Lords"
        ]
      },
      "PingPongAmendment": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "nullable": true
          },
          "decision": {
            "$ref": "#/components/schemas/AmendmentDecision"
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          },
          "text": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentLine"
            }
          },
          "sponsors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentMember"
            }
          }
        },
        "additionalProperties": false
      },
      "PingPongAmendmentDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "statusIndicator": {
            "type": "string",
            "nullable": true
          },
          "decision": {
            "$ref": "#/components/schemas/AmendmentDecision"
          },
          "decisionExplanation": {
            "type": "string",
            "nullable": true
          },
          "sponsors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentMember"
            }
          },
          "type": {
            "$ref": "#/components/schemas/PingpongItemType"
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "amendmentGroups": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentGroup"
            }
          }
        },
        "additionalProperties": false
      },
      "PingPongAmendmentSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "statusIndicator": {
            "type": "string",
            "nullable": true
          },
          "decision": {
            "$ref": "#/components/schemas/AmendmentDecision"
          },
          "decisionExplanation": {
            "type": "string",
            "nullable": true
          },
          "sponsors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AmendmentMember"
            }
          },
          "type": {
            "$ref": "#/components/schemas/PingpongItemType"
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PingpongItemType": {
        "type": "string",
        "enum": [
          "Motion",
          "Amendment"
        ]
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "Promoter": {
        "type": "object",
        "properties": {
          "organisationName": {
            "type": "string",
            "nullable": true
          },
          "organisationUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Publication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "publicationType": {
            "$ref": "#/components/schemas/PublicationType"
          },
          "displayDate": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PublicationLink"
            }
          },
          "files": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PublicationDocument"
            }
          }
        },
        "additionalProperties": false
      },
      "PublicationDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "filename": {
            "type": "string",
            "nullable": true
          },
          "contentType": {
            "type": "string",
            "nullable": true
          },
          "contentLength": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "PublicationLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "contentType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicationType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicationTypeSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PublicationType"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Sponsor": {
        "type": "object",
        "properties": {
          "member": {
            "$ref": "#/components/schemas/Member"
          },
          "organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "StageReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          }
        },
        "additionalProperties": false
      },
      "StageReferenceSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/StageReference"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "StageSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "stageId": {
            "type": "integer",
            "format": "int32"
          },
          "sessionId": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "abbreviation": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          },
          "stageSittings": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/BillStageSitting"
            }
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "StageSummarySearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/StageSummary"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      }
    }
  }
}